/* Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
}

html,
body {
  overscroll-behavior: none;
}

/* App */

.app {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.app h1 {
  margin-bottom: 2rem;
}

@font-face {
  font-family: "Magz";
  src: url("../public/fonts/Magz.otf") format("opentype");
}